<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.PopularMovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/movies_app"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/movie_page"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:label="@string/movie_reviews"
            android:parentActivityName=".DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailActivity" />
        </activity>
        <activity android:name=".FavoritesActivity"
            android:label="@string/user_favorites"/>

        <provider
            android:name="com.example.android.PopularMovies.Data.MovieFavoriteProvider"
            android:authorities="com.example.android.PopularMovies"
            android:exported="false"/>
    </application>

</manifest>